In [ ]:
netflix_path = "https://raw.githubusercontent.com/Akash-Pal1/Datasets/main/netflix_titles.csv?token=GHSAT0AAAAAABRYWRHUIS4PSVLPUQETBPACYQ3X6BQ"
imdb_path = "https://raw.githubusercontent.com/Akash-Pal1/Datasets/main/imdb_top_1000.csv?token=GHSAT0AAAAAABRYWRHV74QN5EZVRWA4L6HAYQ3X33Q"

In [ ]:
import pandas as pd
netflix_df = pd.read_csv(netflix_path)
netflix_df.head(20)

   show_id  ...                                        description
0       s1  ...  As her father nears the end of his life, filmm...
1       s2  ...  After crossing paths at a party, a Cape Town t...
2       s3  ...  To protect his family from a powerful drug lor...
3       s4  ...  Feuds, flirtations and toilet talk go down amo...
4       s5  ...  In a city of coaching centers known to train I...
5       s6  ...  The arrival of a charismatic young priest brin...
6       s7  ...  Equestria's divided. But a bright-eyed hero be...
7       s8  ...  On a photo shoot in Ghana, an American model s...
8       s9  ...  A talented batch of amateur bakers face off in...
9      s10  ...  A woman adjusting to life after a loss contend...
10     s11  ...  Sicily boasts a bold "Anti-Mafia" coalition. B...
11     s12  ...  Struggling to earn a living in Bangkok, a man ...
12     s13  ...  After most of her family is murdered in a terr...
13     s14  ...  When the clever but socially-awkward Tetê join...
14     s15  ...  Cameras following Bengaluru police on the job ...
15     s16  ...  Students of color navigate the daily slights a...
16     s17  ...  Declassified documents reveal the post-WWII li...
17     s18  ...  Strangers Diego and Isabel flee their home in ...
18     s19  ...  After a deadly home invasion at a couple’s new...
19     s20  ...  In the 1960s, a Holocaust survivor joins a gro...

[20 rows x 12 columns]

In [ ]:
import pandas as pd
imdb_df = pd.read_csv(imdb_path)
imdb_df

                                           Poster_Link  ...        Gross
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...   28,341,469
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...  134,966,411
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...  534,858,444
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...   57,300,000
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...  ...    4,360,000
..                                                 ...  ...          ...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...  ...          NaN
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...  ...          NaN
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...  ...   30,500,000
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...  ...          NaN
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...  ...          NaN

[1000 rows x 16 columns]

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [ ]:
imdb_df = imdb_df.dropna()
imdb_df.reset_index(inplace = True, drop = True)
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    object
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 89.4+ KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
imdb_df_m = scaler.fit_transform(imdb_df[["IMDB_Rating","No_of_Votes"]])
imdb_df_n_db = pd.DataFrame(imdb_df_m,columns = ["Rating","No_of_Votes"])
imdb_df_n_db

       Rating  No_of_Votes
0    1.000000     1.000000
1    0.941176     0.688188
2    0.823529     0.982795
3    0.823529     0.476609
4    0.823529     0.286734
..        ...          ...
709  0.000000     0.002120
710  0.000000     0.008676
711  0.000000     0.060909
712  0.000000     0.006524
713  0.000000     0.007828

[714 rows x 2 columns]

In [ ]:
r = imdb_df_n_db['Rating']
v = imdb_df_n_db['No_of_Votes']
c = imdb_df_n_db['No_of_Votes'].mean()
m = imdb_df_n_db['No_of_Votes'].quantile(0.7)
imdb_df["Weighted Average"] = ((r*v)+(c*m))/(v+m)
imdb_df_ranking = imdb_df.sort_values('Weighted Average',ascending=False)
imdb_df_ranking[['Series_Title','Released_Year','IMDB_Rating','Genre','Meta_score','No_of_Votes','Gross','Weighted Average']].head(10)

                                     Series_Title  ... Weighted Average
0                        The Shawshank Redemption  ...         0.871232
1                                   The Godfather  ...         0.778009
2                                 The Dark Knight  ...         0.719752
6                                    Pulp Fiction  ...         0.649437
3                          The Godfather: Part II  ...         0.639353
5   The Lord of the Rings: The Return of the King  ...         0.639007
8                                       Inception  ...         0.611769
7                                Schindler's List  ...         0.605242
9                                      Fight Club  ...         0.602846
11                                   Forrest Gump  ...         0.600708

[10 rows x 8 columns]

In [ ]:
type(imdb_df['Genre'][1])

str

In [ ]:
imdb_df_ranking[['Series_Title','Released_Year','IMDB_Rating','Genre','Meta_score','No_of_Votes','Gross','Weighted Average']].tail(10)

                              Series_Title  ... Weighted Average
652                               Watchmen  ...         0.066072
632                          Despicable Me  ...         0.066068
672                        Minority Report  ...         0.065508
637                             Zombieland  ...         0.064666
634                               Kick-Ass  ...         0.064379
608       Once Upon a Time... in Hollywood  ...         0.062505
614         Guardians of the Galaxy Vol. 2  ...         0.061283
638                        Sherlock Holmes  ...         0.060448
668  Harry Potter and the Sorcerer's Stone  ...         0.056099
650                                    300  ...         0.052349

[10 rows x 8 columns]

In [ ]:
def genre_wise_rank(genre):
  imdb_df_ranking["Match_genre"] = imdb_df_ranking["Genre"].apply(lambda x: 'Match' if  genre in x else 'Mismatch') 
  return (imdb_df_ranking.loc[imdb_df_ranking['Match_genre']=='Match']).head(5)

In [ ]:
genre_wise_rank('Action')

                                          Poster_Link  ... Match_genre
2   https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...       Match
5   https://m.media-amazon.com/images/M/MV5BNzA5ZD...  ...       Match
8   https://m.media-amazon.com/images/M/MV5BMjAxMz...  ...       Match
10  https://m.media-amazon.com/images/M/MV5BN2EyZj...  ...       Match
14  https://m.media-amazon.com/images/M/MV5BNzQzOT...  ...       Match

[5 rows x 18 columns]

In [ ]:
genre_wise_rank('Drama')

                                         Poster_Link  ... Match_genre
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...       Match
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...       Match
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...       Match
6  https://m.media-amazon.com/images/M/MV5BNGNhMD...  ...       Match
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...       Match

[5 rows x 18 columns]

In [ ]:
genre_wise_rank("Crime")

                                         Poster_Link  ... Match_genre
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...       Match
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...       Match
6  https://m.media-amazon.com/images/M/MV5BNGNhMD...  ...       Match
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...       Match
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...  ...       Match

[5 rows x 18 columns]